$mainBg: hsl(185, 41%, 84%);
$outputCard: hsl(183, 100%, 15%);
$customLabel: hsl(186, 14%, 43%);
$labelColor: hsl(184, 14%, 56%);
$inputBg: hsl(189, 41%, 97%);
$completedBtn: hsl(172, 67%, 45%);
$hoverColor: rgb(159 232 223);
$inputColor: rgba(0,73, 77, 0.9);
$placeHolder: rgba(0, 73, 77, 0.4);
$inputFont: 24px;
$mainFont: 'Space Mono', monospace;

@mixin flex($direction, $align, $justify){
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}

@mixin widthHeight($width, $height){
    width: $width;
    height: $height;
}

@mixin inputFormat(){
    border: 0;
    border-radius: 5px;
    background-color: $inputBg;
    color: $inputColor;
    font-size: $inputFont;
    font-family: $mainFont;
    text-align: right;
    &::placeholder{
        color: $placeHolder;
    }
    &:focus, &:active{
        outline: none;
        border: solid 2px $completedBtn;
    }
}
@mixin labelFormat($translateY, $url){
    position: relative;
    &::before{
        content: "";
        position: absolute;
        top: 10px;
        bottom: 0;
        width: 20px;
        height: 20px;
        z-index: 9999;
        transform: translate(12px, $translateY);
        background-image: $url;
        background-repeat: no-repeat;
    }
}

body{
    @include widthHeight(100vw, 100vh);
    @include flex(column, center, flex-end);
    margin: 0;
    padding: 0;
    gap: 1vh;
    font-family: $mainFont;
    background-color: $mainBg;
}
.splitter{
    color: rgba(0, 73, 77, 0.8);
    letter-spacing: 2vw;
    font-size: 26px;
}
.calc-container{
    @include widthHeight(90%, 810px);
    @include flex(column, center, center);
    gap: 4vh;
    padding: 3% 5%;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.l-card{
    @include flex(column, center, center);
    gap: 3vh;
    margin-top: -2vh;
}
.r-card{
    @include widthHeight(88vw, 32vh);
    @include flex(column, center, space-evenly);
    color: #fff;
    background-color: $outputCard;
    border-radius: 15px;
}
input{
    @include inputFormat();
    &:hover{
        cursor: pointer;
    }
}
.bill-sec{
    @include flex(column, flex-start, center);
}
#billInput, #pplNum{
    @include widthHeight(86vw, 4vh);
    z-index: 1;
}
.tip-btns{
    display: grid;
    width: 87vw;
    grid-template-rows: repeat(3, 5vh);
    grid-template-columns: repeat(2, 43vw);
    gap: 10px;
    justify-content: space-around;
    button{
        border: 0;
        border-radius: 5px;
        background-color: $outputCard;
        color: #fff;
        font-family: $mainFont;
        font-size: $inputFont;
        &:active, &:focus{
            background-color: $completedBtn;
            color: $outputCard;
        }
        &:hover{
            cursor: pointer;
            background-color: rgb(159 232 223);
        }
    }
}
label, .tip-select p{
    font-size: 16px;
    color: $customLabel;
}
#billLabel{
    @include labelFormat(25px, url(../images/icon-dollar.svg));
}
#pplLabel{
    @include labelFormat(35px, url(../images/icon-person.svg));
}
.ppl-num-headings{
    @include flex(row, baseline, unset);
    gap: 15px;
}
#errorPpl{
    font-size: 14px;
    color: #f00;
}
.output-sec{
    @include flex(row, flex-end, space-between);
    width: 75vw;
    small{
        color: #fff6;
    }
}
.output-display{
    font-size: 26px;
    color: $completedBtn;
}
#resetBtn{
    @include widthHeight(75vw, 6vh);
    border-radius: 8px;
    border: 0;
    text-transform: uppercase;
    font-family: $mainFont;
    font-size: 23px;
    background-color: $completedBtn;
    color: $outputCard;
    &:not(:disabled):hover{
        cursor: pointer;
        background-color: rgb(159 232 223);
    }
    &:disabled{
        cursor: not-allowed;
        opacity: 0.2;
    }
}
@media (min-width:769px){
    body{
        justify-content: center;
    }
    .calc-container{
        @include widthHeight(56vw, 51vh);
        box-shadow: 0 30px 35px -14px #93c2c4;
        border-radius: 20px;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2%;
        gap: 3vw;
    }
    #billInput, #pplNum{
        width: 25vw;
    }
    .tip-btns{
        width: unset;
        grid-template-rows: repeat(2, 5vh);
        grid-template-columns: repeat(3, 8vw);
    }
    .r-card{
        height: 45vh;
        justify-content: space-around;
    }
    .output-sec{
        width: 21vw;
    }
    #resetBtn{
        width: 22vw;
    }
    .output-display{
        font-size: 30px;
    }
    .ppl-num-headings{
        justify-content: space-between;
    }
    .splitter{
        letter-spacing: 10px;
        font-size: 22px;
        margin-bottom: 8vh;
    }
}
