body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 1vh;
  font-family: "Space Mono", monospace;
  background-color: hsl(185, 41%, 84%);
}

.splitter {
  color: rgba(0, 73, 77, 0.8);
  letter-spacing: 2vw;
  font-size: 26px;
}

.calc-container {
  width: 90%;
  height: 810px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4vh;
  padding: 0 5%;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.l-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3vh;
  margin-top: -2vh;
}

.r-card {
  width: 88vw;
  height: 32vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  color: #fff;
  background-color: hsl(183, 100%, 15%);
  border-radius: 15px;
}

input {
  border: 0;
  border-radius: 5px;
  background-color: hsl(189, 41%, 97%);
  color: rgba(0, 73, 77, 0.9);
  font-size: 24px;
  font-family: "Space Mono", monospace;
  text-align: right;
}
input::-moz-placeholder {
  color: rgba(0, 73, 77, 0.4);
}
input::placeholder {
  color: rgba(0, 73, 77, 0.4);
}
input:focus, input:active {
  outline: none;
  border: solid 2px hsl(172, 67%, 45%);
}
input:hover {
  cursor: pointer;
}

.bill-sec {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

#billInput, #pplNum {
  width: 86vw;
  height: 4vh;
  z-index: 1;
}

.tip-btns {
  display: grid;
  width: 87vw;
  grid-template-rows: repeat(3, 5vh);
  grid-template-columns: repeat(2, 43vw);
  gap: 10px;
  justify-content: space-around;
}
.tip-btns button {
  border: 0;
  border-radius: 5px;
  background-color: hsl(183, 100%, 15%);
  color: #fff;
  font-family: "Space Mono", monospace;
  font-size: 24px;
}
.tip-btns button:active, .tip-btns button:focus {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}
.tip-btns button:hover {
  cursor: pointer;
  background-color: rgb(159, 232, 223);
}

label, .tip-select p {
  font-size: 16px;
  color: hsl(186, 14%, 43%);
}

#billLabel {
  position: relative;
}
#billLabel::before {
  content: "";
  position: absolute;
  top: 10px;
  bottom: 0;
  width: 20px;
  height: 20px;
  z-index: 9999;
  transform: translate(12px, 24px);
  background-image: url(../images/icon-dollar.svg);
  background-repeat: no-repeat;
}

#pplLabel {
  position: relative;
}
#pplLabel::before {
  content: "";
  position: absolute;
  top: 10px;
  bottom: 0;
  width: 20px;
  height: 20px;
  z-index: 9999;
  transform: translate(12px, 32px);
  background-image: url(../images/icon-person.svg);
  background-repeat: no-repeat;
}

.ppl-num-headings {
  display: flex;
  align-items: baseline;
  justify-content: unset;
  flex-direction: row;
  gap: 15px;
}

#errorPpl {
  font-size: 14px;
  color: #f00;
}

.output-sec {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
  width: 75vw;
}
.output-sec small {
  color: rgba(255, 255, 255, 0.4);
}

.output-display {
  font-size: 26px;
  color: hsl(172, 67%, 45%);
}

#resetBtn {
  width: 75vw;
  height: 6vh;
  border-radius: 8px;
  border: 0;
  text-transform: uppercase;
  font-family: "Space Mono", monospace;
  font-size: 23px;
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}
#resetBtn:hover {
  cursor: pointer;
  background-color: rgb(159, 232, 223);
}

@media (min-width: 768px) {
  body {
    justify-content: center;
  }
  .calc-container {
    width: 56vw;
    height: 51vh;
    border-radius: 20px;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2%;
    gap: 3vw;
  }
  #billInput, #pplNum {
    width: 25vw;
  }
  .tip-btns {
    width: unset;
    grid-template-rows: repeat(2, 5vh);
    grid-template-columns: repeat(3, 8vw);
  }
  .r-card {
    height: 45vh;
    justify-content: space-around;
  }
  .output-sec {
    width: 21vw;
  }
  #resetBtn {
    width: 22vw;
  }
  .output-display {
    font-size: 30px;
  }
  .ppl-num-headings {
    justify-content: space-between;
  }
  .splitter {
    letter-spacing: 10px;
    font-size: 22px;
    margin-bottom: 8vh;
  }
}/*# sourceMappingURL=style.css.map */