$mainBg: hsl(185, 41%, 84%);
$outputCard: hsl(183, 100%, 15%);
$customLabel: hsl(186, 14%, 43%);
$labelColor: hsl(184, 14%, 56%);
$inputBg: hsl(189, 41%, 97%);
$completedBtn: hsl(172, 67%, 45%);
$inputFont: 24px;

@mixin flex($direction, $align, $justify){
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}

@mixin widthHeight($width, $height){
    width: $width;
    height: $height;
}

body{
    font-family: 'Space Mono', monospace;
    background-color: $mainBg;
    height: 100vh;
    @include flex(column, center, center);
}
.calc-container{
    @include flex(column, center, space-around);
    @include widthHeight(unset, 500px);
}
.l-card{
    @include flex(column, flex-start, center);
    @include widthHeight(unset, 100px);
}
.r-card{
    @include flex(column, center, center);
    @include widthHeight(unset, 100px);
}
.tip-btns{
    display: grid;
    grid-template-rows: repeat(3, 30px);
    grid-template-columns: repeat(2 ,90px);
    gap: 10px;
}
