$mainBg: hsl(185, 41%, 84%);
$outputCard: hsl(183, 100%, 15%);
$customLabel: hsl(186, 14%, 43%);
$labelColor: hsl(184, 14%, 56%);
$inputBg: hsl(189, 41%, 97%);
$completedBtn: hsl(172, 67%, 45%);
$inputFont: 24px;

@mixin flexCenter($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin widthHeight($width, $height){
    width: $width;
    height: $height;
}

body{
    font-family: 'Space Mono', monospace;
    background-color: $mainBg;
    @include flexCenter(column);
}
.calc-container{
    @include flexCenter(row);
}